#obrigado {
    text-align: center;
    padding: 120px 0;

    h1 {
        font-family: $primary-font;
        font-weight: bold;
        text-transform: uppercase;
    }

    h4 {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 18px;
    }

    p {
        font-size: 17px;
    }

    .redes-sociais {
        display: block;
        margin-top: 20px;
    }

    .svg-inline--fa {
        margin-top: 20px;
        color: $secondary-color;
        font-size: 2.3rem;
        border: 1px solid $secondary-color;
        margin-right: 10px;
        padding: 10px;
        border-radius: 5px;
        width: 40px !important;
        height: 40px;
    }

    a {

        &:hover,
        .fab:hover {
            text-decoration: none;
            color: $primary-color !important;
        }
    }
}